---
import "../styles/style.css";
const { img1, img2, produktnavn, pris, link, haartype } = Astro.props;
---

<div class={"product-card-container " + haartype}>
  <section class="product-card">
    <a href={link} class="img-wrapper">
      <img src={img1} alt="" title="produkt-img" class="product-img" />
      <img src={img2} alt="" class="hover-img" />
      <div class="overlay"><p class="p-product">Læs mere om produktet</p></div>
      <div id="tekst">
        <h4 title="navn" class="h4-product">{produktnavn}</h4>
        <p title="pris" class="p-product">{pris}</p>
      </div>
    </a>
    <button id="knap" class="knap">Føj til kurv</button>
  </section>
</div>

<style>
  /* mobileview */
  .product-card {
    background-color: var(--purelyWhiteSeeThrough);
    width: 170px;
    height: 330px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  .img-wrapper {
    display: grid;
  }

  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--purelyWhiteSeeThrough);
    grid-area: 1/1/2/2;
  }
  .overlay {
    width: 100%;
    height: 230px;
    align-items: flex-end;
    grid-area: 1/1/2/2;
  }

  .overlay .p-product {
    margin: 0 1px;
    padding: 5px;
    width: 100%;
    background-color: rgba(172, 192, 189, 0.8);
    text-align: end;
    color: var(--purelyWhite);
    font-weight: 300;
  }

  #tekst {
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: left;
  }
  .h4-product {
    font-weight: 300;
    font-size: 16px;
    line-height: 21.79px;
  }

  .p-product {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .knap {
    background-color: var(--darkSand);
    border: none;
    color: var(--purelyWhite);
    padding: 6px;
    font-weight: 400;
    font-family: "Open Sans";
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .knap:hover {
    background-color: var(--mediumOcean);
  }

  /* Hover billede skifter */
  .hover-img,
  .overlay {
    display: none;
  }
  .img-wrapper:hover .product-img {
    display: none;
  }

  .img-wrapper:hover .hover-img {
    display: block;
  }
  .img-wrapper:hover .overlay {
    display: flex;
  }

  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 800px) {
    .product-card {
      width: 190px;
    }
  }

  @media (min-width: 900px) {
    .product-card {
      width: 220px;
    }
  }
  @media (min-width: 1200px) {
    img,
    .overlay {
      height: 280px;
    }
    .product-card {
      width: 280px;
      height: 400px;
    }

    .h4-product {
      font-size: 20px;
      line-height: 28px;
      margin-left: 10px;
    }
    .p-product {
      font-size: 16px;
      line-height: 20px;
      margin-left: 10px;
    }
    #knap {
      font-size: 20px;
      margin: 0 10px 10px;
    }
  }
  .active {
    background-color: var(--mediumSand);
  }
  .hidden {
    display: none;
  }
</style>

<script>
  document.querySelectorAll(".product-card-container").forEach((card) => {
    console.log("CARD", card);
    const addToBasket = card.querySelector("#knap");

    addToBasket.addEventListener("click", () => {
      addToBasket.classList.toggle("active");
      if (addToBasket.classList.contains("active")) {
        addToBasket.textContent = "Produkt i kurv";
      } else {
        addToBasket.textContent = "Føj til kurv";
      }
    });
  });
</script>
